<div class="banner">
  <h1 class="banner-head">
    八卦阵大学<br />
    包罗万象，参悟天地。
  </h1>
</div>
<div class="l-content">
  <div class="pricing-tables pure-g-r">
    <div class="pure-u-1-3">
      <div class="pricing-table pricing-table-free">
        <div class="pricing-table-header">
          <h2>注册用户</h2>

          <span class="pricing-table-price">
            ￥0 <span>每月</span>
          </span>
        </div>

        <ul class="pricing-table-list">
          <li>免费课程</li>
          <li>免费资料</li>
          <li>收费课程免费章节</li>
          <li>学习进度管理</li>
          <li>学习成果测试</li>
          <li>无限笔记空间</li>
        </ul>

        <button class="pure-button button-choose" onclick="window.open('http://bbs.iwissen.com/users/sign_up')">注册</button>
      </div>
    </div>

    <div class="pure-u-1-3">
      <div class="pricing-table pricing-table-biz pricing-table-selected">
        <div class="pricing-table-header">
          <h2>VIP用户</h2>

          <span class="pricing-table-price">
            ￥15 <span>每月</span>
          </span>
        </div>

        <ul class="pricing-table-list">
          <li>免费课程资料</li>
          <li>所有收费课程</li>
          <li>无限笔记空间</li>
          <li>学习计划定制</li>
          <li>学习成果测试</li>
          <li>学员荣誉证书</li>
        </ul>

        <button class="pure-button button-choose" onclick="window.open('http://bbs.iwissen.com/users/sign_up')">注册</button>
      </div>
    </div>

    <div class="pure-u-1-3">
      <div class="pricing-table pricing-table-enterprise">
        <div class="pricing-table-header">
          <h2>成为老师</h2>

          <span class="pricing-table-price">
            ￥? <span>每月</span>
          </span>
        </div>

        <ul class="pricing-table-list">
          <li>创建免费课程</li>
          <li>创建收费课程</li>
          <li>按订阅分配财富</li>
          <li>10G视频空间</li>
          <li>无限笔记</li>
          <li>教师荣誉证书</li>
        </ul>

        <button class="pure-button button-choose" onclick="window.open('http://bbs.iwissen.com/users/sign_up')">注册</button>
      </div>
    </div>
  </div> 

  <div class="information pure-g-r">
    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">现在就加入吧!</h3>
        <p>
          八卦阵大学是新一代的学习场所，它与传统互联网教育大为不同，它不仅仅是录制教师上课时的场景，而且充分利用了互联网上的一切资源，组合成真正的多媒体一站式教学。每一门八卦阵大学出品的课程都精心制作，并且会不断更新，与时俱进。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">优秀的学习管理系统</h3>
        <p>
          您不用担心学习会因自己偶尔的懒惰或者各种借口而停滞不前，我们会给您制定详细的任务计划，并且每个单元都有学习时限，在时限内完成的话能够得到丰厚的奖励。这种激励机制和视频课程本身的趣味性会使您沉迷于新一代的学习体验中。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">名师互动</h3>
        <p>
          我们不仅推出极具趣味性的优秀课程，同时还不定期开放名师互动环节，如果您有任何困惑很深的疑问，可以通过此刻向名师请教。相信名师的指点会让您体悟更深，学习更上一层楼！同时，平时遇到问题或者学习困难的时候您也可以在交流论坛里提问，相信有不少热心的同学会给予解答。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">荣誉证书</h3>
        <p>
          在您完成一门课程之后，您会得到一张荣誉证书，该证书纪录着您完成这门课程的平时表现，最终成绩等内容。我们会保存每一张证书，您将来可以直接寻找自己获得的证书或他人获得的证书。这些证书也许现在没什么用，但相信不久的将来也会成为用人单位评判人才的标准之一。
        </p>
      </div>
    </div>
  </div> 
</div>